.footer {
  background: #f5f5f5;
  padding: 80px 60px 40px;
}

.container {
  max-width: 1300px;
  padding: 0 24px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr; /* giữ tỉ lệ */
  gap: 80px;

  /* Co nhỏ theo viewport */
  min-width: 0; /* cho phép các cột co */
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .footer {
    padding: 60px 40px 30px;
  }
  .container {
    gap: 60px;
  }
  .brand .desc {
    max-width: 400px;
  }
  .link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .menu {
    flex-wrap: wrap; /* cho phép xuống dòng */
    gap: 14px 20px; /* 14px giữa các item cùng hàng, 20px giữa hàng */
  }
  .footer {
    padding: 40px 20px 20px;
  }
  .container {
    gap: 40px;
  } /* co gap thôi, ko thay số cột */
  .brand .desc {
    font-size: 10px;
    max-width: 300px;
  }
  .link {
    font-size: 14px;
  }
}

//  socials icon col 1
.socials {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.socials a {
  width: 42px;
  height: 42px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.socials img {
  width: 18px;
  height: 18px;
}

.socials a:hover {
  background: #000;
}

.socials a:hover img {
  filter: invert(1);
}

/* BRAND */
.brand {
  h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    letter-spacing: 3px;
    margin-bottom: 24px;
  }

  p {
    font-size: 14px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 18px;
  }

  span {
    font-weight: 600;
    font-size: 14px;
  }

  .desc {
    font-family: "Roboto", sans-serif;
    width: 100%; /* Thay vì 505px cố định */
    max-width: 505px; /* Giữ đẹp trên desktop */
  }
}

/* COL */
.col {
  margin-top: 10px;
  h4 {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

/* LINK (same logic as header) */
.link {
  display: block;
  margin-bottom: 14px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  transition: 0.25s;
  position: relative;

  &:hover {
    color: #000;
  }
}

.active {
  color: #000;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #000;
  }
}

.contactTitle {
  margin-top: 32px;
}

.col p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

/* BOTTOM */
.bottom {
  margin-top: 60px;
  padding-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
