/* ========== FOOTER ========== */
.footer {
  background: #f5f5f5;
  padding: 80px 0 40px; /* ❗ không có padding ngang */
}

/* ========== CONTAINER (same as header) ========== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;

  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: 80px;
}

/* ========== BRAND ========== */
.brand {
  .desc {
    font-size: 14px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.6);
    max-width: 505px;
    margin: 24px 0;
  }
}

/* ========== SOCIALS ========== */
.socials {
  display: flex;
  gap: 16px;
}

.socials a {
  width: 42px;
  height: 42px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.socials img {
  width: 18px;
  height: 18px;
}

.socials a:hover {
  background: #000;
}

.socials a:hover img {
  filter: invert(1);
}

/* ========== COL ========== */
.col {
  margin-top: 5px;
  h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

/* ========== LINK ========== */
.link {
  display: block;
  margin-bottom: 14px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  transition: 0.25s;
}

.link:hover {
  color: #000;
}

/* ===== ACTIVE NAVLINK ===== */
.active {
  color: #000;

  position: relative;
}

/* ========== CONTACT ========== */
.contactItem {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

/* ========== BOTTOM ========== */
.bottom {
  margin-top: 60px;
  padding-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/* ========== RESPONSIVE ========== */
@media (max-width: 1024px) {
  .footer {
    padding: 60px 0 30px;
  }
  .container {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0 20px;
  }
  .container {
    gap: 40px;
    // grid-template-columns: 1fr 1fr;
  }
}
