/* ============ CONTAINER ============ */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* ============ HEADER ============ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;

  background: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
}

/* ============ NAV ============ */
.nav {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ============ LOGO ============ */
.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

/* ============ MENU ============ */
.menu {
  display: flex;
  align-items: center;
  gap: 28px;
  white-space: nowrap;
  flex-wrap: nowrap;
}

/* ============ LINK ============ */
.link {
  position: relative;
  display: inline-flex;
  align-items: center;

  font-size: 28px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.25s;

  white-space: nowrap;
  flex-shrink: 0;

  cursor: pointer;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #00000088;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}

.active::after {
  transform: scaleX(1);
}

/* ============ DROPDOWN ============ */
.dropdown {
  position: relative;

  .rowDropdownMenu {
    &:hover {
      background: #f5f5f5;
    }
  }
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%) translateY(10px);

  min-width: 180px;
  background: #fff;
  border-radius: 12px;
  padding: 8px 0;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

.headingDropdownMenu {
  font-size: 20px;
  padding: 12px 20px;
}

.dropdown:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.dropdownMenu a {
  padding: 12px 20px;
  font-size: 14px;
  color: #222;
  text-decoration: none;
}

/* ============ RESPONSIVE ============ */
@media (max-width: 1024px) {
  .link {
    font-size: 24px;
  }
  .menu {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .link {
    font-size: 20px;
  }
  .menu {
    gap: 14px;
  }
}
